.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* take at least full screen */
  background-color: #0b1c24;
}

.about-container {
  flex: 1; /* push footer to bottom */
  max-width: 800px;
  margin: 100px auto 50px auto; /* space for navbar */
  padding: 20px;
  color: #f7f8f8;
  line-height: 1.6;
}

.about-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 40px;
}

.faq-section {
  margin-bottom: 30px;
}

.faq-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #00bfff;
}

.faq-section p {
  font-size: 16px;
  color: #ddd;
}
